<ion-header>
  <ion-toolbar>
    <ion-title>Setting's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <div class="imgDiv">
    <img src="assets/icon/icon.png">
  </div>
  <ion-button expand="full" fill="solid" shape="round" (click)="onClick()">
    EXPORT LECTURE'S
    <ion-icon name="paper-plane" slot="end"></ion-icon>
  </ion-button>
  <br>
  <ion-button expand="full" fill="solid" shape="round" (click)="onClick()">
    IMPORT LECTURE'S
    <ion-icon name="color-fill" slot="end"></ion-icon>
  </ion-button>
  
</ion-content>