<ion-header>
  <ion-toolbar>
    <ion-title>
      Subjects
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/subject-form" routerDirection="forward">
        <ion-icon name="add" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <img src="assets/no-record-found.png"  alt="">
  <!-- <ion-card>
    <ion-item>
      <ion-icon mode="ios" name="journal"></ion-icon>
      <ion-icon style="transform: rotate(90deg);" name="git-network"></ion-icon>
      <ion-label>
        <strong>ABC</strong>
        <p>Hitesh Lad</p>
      </ion-label>
      <ion-icon name="more" (click)="presentActionSheet(1)" size="large" slot="end"></ion-icon>
    </ion-item>
  </ion-card>   -->
  <ion-card *ngFor="let item of subjects">
    <ion-item>
      <ion-icon mode="ios" name="journal"></ion-icon>
      <ion-icon style="transform: rotate(90deg);" name="git-network"></ion-icon>
      <ion-label>
        <strong>{{item.SUBJECT_NAME}}</strong>
        <p>{{item.FACULTY_NAME}}</p>
      </ion-label>
      <ion-icon name="more" (click)="presentActionSheet(item.SUBJECT_ID)" size="large" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>