<ion-header>
  <ion-toolbar>
    <ion-title>
      Subjects
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/subject-form" routerDirection="forward">
        <ion-icon name="add" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>    
  <ion-card *ngFor="let item of subjects"> 
    <ion-item>
      <ion-icon name="bookmarks" slot="end"></ion-icon>
      <ion-label><b> &nbsp; {{item.SUBJECT_NAME}} </b></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="end"></ion-icon>
      <ion-label> &nbsp; {{item.FACULTY_NAME}} </ion-label>
    </ion-item>
  </ion-card>    
</ion-content>