<ion-header>
  <ion-toolbar>
    <ion-title>
      Subjects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card padding>
    <h3 style="text-align: center" >Create New Subject</h3>
    <ion-item>
      <ion-label color="tertiary" position="floating">Subject Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary" position="floating">Faculty Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <br>
    <ion-button shape="round" style="width: 47.3%">Save</ion-button>&nbsp;&nbsp;
    <ion-button shape="round" style="width: 47.3%">Clear</ion-button>

  </ion-card>

  
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks"  slot="end"></ion-icon>
      <ion-label><b> &nbsp; Advanced JAVA  </b></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person"  slot="end"></ion-icon>
      <ion-label> &nbsp; Kamlendu Sir</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks"  slot="end"></ion-icon>
      <ion-label><b> &nbsp; Asp .Net </b></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="tertiary" slot="end"></ion-icon>
      <ion-label> &nbsp;Dhaval Joshi </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" slot="end"></ion-icon>
      <ion-label><b> &nbsp; PHP </b></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person"  slot="end"></ion-icon>
      <ion-label> &nbsp; Payal Joshi </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks"  slot="end"></ion-icon>
      <ion-label><b> &nbsp; Android </b></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person" slot="end"></ion-icon>
      <ion-label> &nbsp; Shailesh Patil </ion-label>
    </ion-item>    
  </ion-card>
  <ion-card>
      <ion-item>
        <ion-icon name="bookmarks"  slot="end"></ion-icon>
        <ion-label><b> &nbsp; AWC </b></ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="person" slot="end"></ion-icon>
        <ion-label> &nbsp; Hitesh Lad </ion-label>
      </ion-item>    
    </ion-card>
</ion-content>