ion-card {
    --background: var(--ion-color-mybg);
    --color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 0 4px 15px 0 rgba(0,0,0,.12);
    border-top : 1px solid rgba(0,0,0,.06);    
    margin-top: 1rem ;    
    ion-button {
      --background: var(--ion-color-mybg);
      --box-shadow:0 2px 8px 0 #9774e9;    
    }      
    
}
ion-col {
    font-size: 0.8rem;    
}
ion-item {
    // --background: var(--ion-color-mybg);
    // --color: #ffffff;
    
}
ion-card-subtitle {
    text-align: center;
}

ion-select {
   width: 100%;
}

ion-action-sheet {
    --background: #ffffff;
    --background-activated: #3880ff;
    --background-selected: #3880ff;
    color: #3880ff;
    --height: 100%;
    --max-height: 100%;
    --max-width: 100%;
    --min-height: 100%;
    --min-width: 100%;
    --width: 100%;
}