<ion-header>
  <ion-toolbar>
    <ion-title>Save Lecture Details</ion-title>
    <ion-buttons slot="start">
      <ion-button color="secondary" routerLink="/tabs/tab3" routerDirection="back">
        <ion-icon name="arrow-round-back" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item style="--border-style : none;">
        <ion-label>Select Day</ion-label>
        <ion-select placeholder="Select Day" interface="popover" mode="ios" value="MONDAY">
          <ion-select-option value="MONDAY">MONDAY</ion-select-option>
          <ion-select-option value="TUESDAY">TUESDAY</ion-select-option>
          <ion-select-option value="WEDNESDAY">WEDNESDAY</ion-select-option>
          <ion-select-option value="THURSDAY">THURSDAY</ion-select-option>
          <ion-select-option value="FRIDAY">FRIDAY</ion-select-option>
          <ion-select-option value="SATURDAY">SATURDAY</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="6" class="ion-text-left">
              SUBJECT
            </ion-col>
            <ion-col size="3">
              START TIME
            </ion-col>
            <ion-col size="3">
              END TIME
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>
      <ion-item>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="6" class="ion-text-left">
              <ion-input type="text" (click)="presentActionSheet()" readonly="true" placeholder="Select Subject"></ion-input>              
            </ion-col>
            <ion-col size="3">
              <ion-datetime display-format="hh:mm A" value="1990-02-19T07:43Z" picker-format="hh:mm A">
              </ion-datetime>
            </ion-col>
            <ion-col size="3">
              <ion-datetime display-format="hh:mm A" value="1990-02-19T07:43Z" picker-format="hh:mm A">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-select placeholder="Select Day" value="Java">
                <ion-select-option value="Java">Java</ion-select-option>
                <ion-select-option value="NET">.NET</ion-select-option>
                <ion-select-option value="PHP">PHP</ion-select-option>
                <ion-select-option value="Android">Android</ion-select-option>
                <ion-select-option value="AWS">AWS</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3">
              <ion-datetime display-format="hh:mm A" value="1990-02-19T07:43Z" picker-format="hh:mm A">
              </ion-datetime>
            </ion-col>
            <ion-col size="3">
              <ion-datetime display-format="hh:mm A" value="1990-02-19T07:43Z" picker-format="hh:mm A">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>