ion-card {
    // --background: var(--ion-color-mybg);
    --color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 0 4px 15px 0 rgba(0,0,0,.12);
    border-top : 1px solid rgba(0,0,0,.06);    
    margin-top: 1rem ;    
    ion-button {
      --background: var(--ion-color-mybg);
      --box-shadow:0 2px 8px 0 #9774e9;    
    }      
    
}
ion-item-group {
    ion-button {
        --background: var(--ion-color-mybg);
        --box-shadow:0 2px 8px 0 #9774e9;    
      }   
}
ion-col {
    font-size: 0.8rem;    
}

ion-card-content {
    ion-item {
        color:var(--ion-color-darkpurlpe); 
        
    }
}




