<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Lectures
    </ion-title>
    <ion-buttons slot="primary">
      <ion-select  value="MONDAY" mode="ios" interface="popover">
        <ion-select-option value="MONDAY">MONDAY</ion-select-option>
        <ion-select-option value="TUESDAY">TUESDAY</ion-select-option>
        <ion-select-option value="WEDNESDAY">WEDNESDAY</ion-select-option>
        <ion-select-option value="THURSDAY">THURSDAY</ion-select-option>
        <ion-select-option value="FRIDAY">FRIDAY</ion-select-option>
        <ion-select-option value="SATURDAY">SATURDAY</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" ></ion-icon>
      <ion-label> &nbsp;&nbsp;<b>Advanced JAVA</b></ion-label>
      <ion-chip color="tertiary"> 1</ion-chip>
    </ion-item>

    <ion-item>
      <ion-icon name="person" ></ion-icon>
      <ion-text> &nbsp;&nbsp; Kamlendu Sir</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="alarm" ></ion-icon>
      <ion-text> &nbsp;&nbsp;11:30 AM - 12:30 PM </ion-text>
      <ion-chip color="tertiary"  slot="end">
        <ion-icon name="checkmark-circle-outline" color="tertiary"></ion-icon>
        <ion-label>Finished</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" ></ion-icon>
      <ion-label> &nbsp;&nbsp;<b> Asp .Net </b></ion-label>
      <ion-chip color="tertiary"> 2 </ion-chip>
    </ion-item>

    <ion-item>
      <ion-icon name="person" ></ion-icon>
      <ion-text> &nbsp;&nbsp; Dhaval Jhoshi </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="alarm" ></ion-icon>
      <ion-text> &nbsp;&nbsp; 12:30 PM - 01:30 PM </ion-text>
      <ion-chip color="success"  slot="end">
        <ion-icon name="bicycle" color="success"></ion-icon>
        <ion-label>Continue...</ion-label>
      </ion-chip>
    </ion-item>


  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" ></ion-icon>
      <ion-label> &nbsp;&nbsp;<b> PHP </b> </ion-label>
      <ion-chip color="tertiary"> 3</ion-chip>
    </ion-item>

    <ion-item>
      <ion-icon name="person" ></ion-icon>
      <ion-text> &nbsp;&nbsp; Payal Jhosi </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="alarm" ></ion-icon>
      <ion-text> &nbsp;&nbsp; 01:30 PM - 03:00 PM</ion-text>
      <ion-chip color="danger" slot="end">
        <ion-icon name="hand" color="danger"></ion-icon>
        <ion-label> Next Lecture </ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" ></ion-icon>
      <ion-label> &nbsp;&nbsp;<b>Android</b> </ion-label>
      <ion-chip color="tertiary"> 4</ion-chip>
    </ion-item>

    <ion-item>
      <ion-icon name="person" ></ion-icon>
      <ion-text> &nbsp;&nbsp; Shailesh Patil</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="alarm" ></ion-icon>
      <ion-text> &nbsp;&nbsp; 03:00 PM - 04:00 PM </ion-text>
      <ion-chip color="secondary" slot="end">
          <ion-icon name="walk" color="secondary"></ion-icon>
          <ion-label>Coming Soon</ion-label>
        </ion-chip>
    </ion-item>
    
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="bookmarks" ></ion-icon>
      <ion-label> &nbsp;&nbsp;<b>AWC</b> </ion-label>
      <ion-chip color="tertiary"> 5</ion-chip>
    </ion-item>

    <ion-item>
      <ion-icon name="person" ></ion-icon>
      <ion-text> &nbsp;&nbsp; Hitesh Lad </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="alarm" ></ion-icon>
      <ion-text>&nbsp;&nbsp;04:00 PM - 05:00 PM</ion-text>
      <ion-chip color="secondary" slot="end">
        <ion-icon name="walk" color="secondary"></ion-icon>
        <ion-label>Coming Soon</ion-label>
      </ion-chip>  
    </ion-item>
  </ion-card>

</ion-content>