ion-card-header {
    margin-bottom: -20px;
}

ion-toolbar {
    --background: linear-gradient(-90deg,#7245d9 0,#4c5be3 52%,#2472ef 100%);
    --color	: white;
    --min-height : 4rem;    
}

ion-card {    
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 10px 0 rgba(0,0,0,.15);
    margin-top: 1rem;
}
ion-row {
    margin-top: 0.5rem;
}
